[submodule "modules/mysql"]
	path = modules/mysql
	url = git@github.com:yendor/puppet-mysql.git
[submodule "modules/pgsqlauth"]
	path = modules/pgsqlauth
	url = git://github.com/yendor/puppet-pgsqlauth.git
[submodule "modules/puppet"]
	path = modules/puppet
	url = git://github.com/yendor/puppet-puppet.git
[submodule "modules/puppetmaster"]
	path = modules/puppetmaster
	url = git://github.com/yendor/puppet-puppetmaster.git
[submodule "modules/tinydns"]
	path = modules/tinydns
	url = git://github.com/yendor/puppet-tinydns.git
